<?xml version="1.0" encoding="UTF-8"?>
<!--
  This is an xmlboot config file.

  IMPORTANT:
  ==========
  There seems to be a bug in gfxboot that prevents loading of files with short names.
  The gfxboot findfile command only loads files with names *longer* than 12 characters.
  (Maybe this has something to do with the old 8.3 name schema!?)
  Therefore, always use long enough file names for background images, icons and font files...
-->
<xmlboot xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0">
  <splash>splash_xmlboot.jpg</splash>
  <syslinux_defaults index="0" label="linux1 initrd=/live/initrd1.img boot=live config live-media-timeout=10 user-default-groups=audio,video,vboxusers timezone=Europe/Vienna ip=frommedia locales=de_AT.UTF-8"/>
  <configs>
    <config id="keyboard">
      <text>Keyboard</text>
      <option id="de" append="keyboard-layouts=de,us" selected="true">
        <text>Germany</text>
      </option>
    </config>
    <config id="desktop">
      <text>Desktop</text>
      <option id="kde" append="desktop=kde nottyautologin" selected="true">
        <text>KDE Plasma Desktop</text>
        <description>Desktop for PCs and notebooks with extensive configurability</description>
        <layout width="1280" height="1024" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1280" height="800" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1366" height="768" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1024" height="768" screenshot="screenshot_kde_desktop_200.jpg"/>
        <layout width="1024" height="600" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="800" height="600" screenshot="screenshot_kde_desktop_200.jpg"/>
      </option>
    </config>
    <config id="persistence">
      <text>Data partition</text>
      <option id="no" selected="true">
        <text>Not used</text>
        <description>All previous changes are invisible, all new changes will be only written to RAM.</description>
      </option>
    </config>
    <config id="live-media">
      <text>System device</text>
      <option id="removable-usb" append="live-media=removable-usb live-media-timeout=10" selected="true">
        <text>removable USB device</text>
        <description>prefer removable USB storage devices</description>
      </option>
    </config>
  </configs>
  <options>
    <option id="swap_partition" append_selected="swapon" selected="true">Use swap partition</option>
    <option id="pae" syslinux_index="1" syslinux_label="linux2 initrd=/live/initrd2.img boot=live config live-media-timeout=10 user-default-groups=audio,video,vboxusers timezone=Europe/Zurich ip=frommedia">more than 4 GB RAM</option>
    <option id="lapic_timer" append_nonselected="nolapic_timer" selected="true">Use local APIC timer</option>
    <option id="dynamic_ticks" append_nonselected="nohz=off" selected="true">Dynamic timer tick</option>
    <option id="messages" append_nonselected="quiet splash" off_off_triggers="debug">Show boot messages</option>
    <option id="debug" append_selected="debug=1" on_on_triggers="messages">Show debug messages</option>
  </options>
  <custom_options text=""/>
  <videomodes>
    <videomode width="1366" height="768" color_depth="32" background="splash_1366x768.jpg"/>
    <videomode width="1366" height="768" color_depth="16" background="splash_1366x768.jpg"/>
    <videomode width="1280" height="1024" color_depth="32" background="splash_1280x1024.jpg"/>
    <videomode width="1280" height="1024" color_depth="16" background="splash_1280x1024.jpg"/>
    <videomode width="1280" height="800" color_depth="32" background="splash_1280x800.jpg"/>
    <videomode width="1280" height="800" color_depth="16" background="splash_1280x800.jpg"/>
    <videomode width="1024" height="768" color_depth="32" background="splash_1024x768.jpg"/>
    <videomode width="1024" height="768" color_depth="16" background="splash_1024x768.jpg"/>
    <videomode width="1024" height="600" color_depth="32" background="splash_1024x600.jpg"/>
    <videomode width="1024" height="600" color_depth="16" background="splash_1024x600.jpg"/>
    <videomode width="800" height="600" color_depth="32" background="splash_800x600.jpg"/>
    <videomode width="800" height="600" color_depth="16" background="splash_800x600.jpg"/>
  </videomodes>
  <timeout color="0x000000">
    <format_singular>Automatic boot in %u second...</format_singular>
    <format_plural>Automatic boot in %u seconds...</format_plural>
    <layout width="1366" height="768" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1280" height="1024" x="10" y="180" font="font_size_15.fnt"/>
    <layout width="1280" height="800" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1024" height="768" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1024" height="600" x="100" y="120" font="font_size_15.fnt"/>
    <layout width="800" height="600" x="10" y="120" font="font_size_15.fnt"/>
  </timeout>
  <system>
    <text>Lernstick exam environment Debian 7</text>
    <version its:translate="no">(Version 2013-10-22)</version>
    <layout width="1366" height="768" x="10" y="738" font="font_size_10.fnt"/>
    <layout width="1280" height="1024" x="10" y="990" font="font_size_15.fnt"/>
    <layout width="1280" height="800" x="10" y="770" font="font_size_10.fnt"/>
    <layout width="1024" height="768" x="10" y="738" font="font_size_10.fnt"/>
    <layout width="1024" height="600" x="10" y="570" font="font_size_10.fnt"/>
    <layout width="800" height="600" x="10" y="570" font="font_size_10.fnt"/>
  </system>
  <breadcrumbs delimiter="  ▶  " color="0x000000">
    <layout height="1024" y="180" font="font_size_15.fnt"/>
    <layout height="800" y="170" font="font_size_15.fnt"/>
    <layout height="768" y="160" font="font_size_12.fnt"/>
    <layout height="600" y="120" font="font_size_12.fnt"/>
  </breadcrumbs>
  <menu color="0x000000" selected_color="0xFFFFFF" rectangle_color="0xC7D9F0">
    <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1280" height="800" y="250" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <layout width="800" height="600" y="180" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <start icon="icon_start.jpg" append_config="true">
      <text>Start Lernstick</text>
      <splash>splash_linux.jpg</splash>
    </start>
    <config id="desktop" icon="icon_desktop.jpg" description_color="0x000000">
      <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="500" screenshot_x="170" screenshot_y="230"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" indention="30" description_x="150" description_y="550" screenshot_x="150" screenshot_y="300"/>
      <layout width="1280" height="800" y="260" dy="40" font="font_size_20.fnt" indention="30" description_x="150" description_y="520" screenshot_x="150" screenshot_y="260"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" indention="30" description_x="150" description_y="420" screenshot_x="150" screenshot_y="240"/>
      <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="100" description_y="450" screenshot_x="100" screenshot_y="200"/>
      <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="90" description_y="390" screenshot_x="90" screenshot_y="210"/>
    </config>
    <config id="persistence" icon="icon_partition.jpg">
      <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" indention="30" description_x="220" description_y="400" textwrap="1000"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="500" textwrap="800"/>
      <layout width="1280" height="800" y="280" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="420" textwrap="800"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" indention="30" description_x="170" description_y="350" textwrap="700"/>
      <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="170" description_y="320" textwrap="700"/>
      <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="110" description_y="320" textwrap="530"/>
    </config>
    <submenu icon="icon_config.jpg">
      <layout width="1366" height="768" y="210" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="600" edit_width="1100" indention="30"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" icon_inset="10" edit_x="10" edit_y="830" edit_width="1050" indention="30"/>
      <layout width="1280" height="800" y="240" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="620" edit_width="1050" indention="30"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="600" edit_width="860" indention="30"/>
      <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="510" edit_width="860" indention="30"/>
      <layout width="800" height="600" y="155" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="470" edit_width="640" indention="30"/>
      <text>More Configuration</text>
      <edit_prompt>Custom options:</edit_prompt>
      <back icon="icon_previous.jpg">Back to main menu</back>
      <config id="keyboard" icon="icon_keyboard.jpg">
        <layout width="1366" height="768" y="230" dy="30" font="font_size_15.fnt"/>
        <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt"/>
        <layout width="1280" height="800" y="230" dy="40" font="font_size_20.fnt"/>
        <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt"/>
        <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt"/>
        <layout width="800" height="600" y="170" dy="30" font="font_size_15.fnt"/>
      </config>
      <config id="live-media" icon="icon_storage_device.jpg" description_color="0x000000">
        <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" description_x="400" description_y="400"/>
        <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" description_x="150" description_y="450"/>
        <layout width="1280" height="800" y="260" dy="40" font="font_size_20.fnt" description_x="150" description_y="430"/>
        <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" description_x="150" description_y="350"/>
        <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" description_x="150" description_y="320"/>
        <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" description_x="90" description_y="320"/>
      </config>
      <option id="swap_partition"/>
      <option id="lapic_timer"/>
      <option id="dynamic_ticks"/>
      <option id="pae"/>
      <option id="messages"/>
      <option id="debug"/>
    </submenu>
    <start icon="icon_integrity_check.jpg" index="0" label="linux1 initrd=/live/initrd1.img boot=live live-media-timeout=10 verify-checksums">
      <text>Check integrity of boot medium</text>
      <splash>splash_linux.jpg</splash>
    </start>
  </menu>
</xmlboot>
